<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Login</th>
      <%= render partial: 'shared/table_head', locals: {custom_field: 'Password', trs: 3} %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <%= render partial: 'user_table_item', locals: {user: user} %>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
