<h1><%= (defined? @custom_title) ? @custom_title : 'Listing barcodes' %></h1>

<table id='barcodes'>
  <thead>
    <tr>
      <th>Code</th>
      <%= render partial: 'shared/table_head', locals: {custom_field: 'User'} %>
    </tr>
  </thead>

  <tbody>
    <% @barcodes.each do |barcode| %>
      <%= render "barcodes/show", handlebars: barcode.for_handlebars(current_user) %>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Barcode', new_barcode_path %>
